// Colors

$color-primary-faded: #27745391;
$color-primary-light: #277453;
$color-primary: #0f5738;
$color-primary-dark: #013c23;

$color-secondary-light: #ed753b;
$color-secondary: #ff702b;
$color-secondary-dark: #ff5300;

$color-black: #000402;
$color-black-faded: #00050377;

$color-white-primary: #e9fff6;
$color-white: #f9fffc;

$color-grey-light: #dadada;
$color-grey-dark: #747474;

$color-social-ig: #8134af;
$color-social-fb: #3b5999;
$color-social-yt: #e62117;
$color-social-tt: #69c9d0;

//* ****BREAKPOINTS****
$bp-xxl: 93.75em; // 1500px
$bp-xl: 75em; // 1200px
$bp-lg: 68.75em; // 1100px
$bp-md: 56.25em; // 900px
$bp-sm: 37.5em; // 600px
$bp-xs: 31.25em; // 500px
$bp-xxs: 25em; // 400px
