<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="error">
    <h1 class="error__header">Page Not Found</h1>
    <img class="error__img" src="/img/camping.jpg" alt="image">

  </div>

  <%- include('includes/footer.ejs') %>
</body>