<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="welcome">

      <h1 class="welcome__header">Welcome to Bandit's Outdoors</h1>
      <p class="welcome__text">
        Hi! I'm Bandit, a 2 year old Alusky, that's Alaskan Malamute and Siberian Husky in case you weren't sure.  I love having adventures outside.  My human takes me to lots of fun places.  We go hiking, camping, and playing at parks with other furry friends!  My absolute favorite is winter sports, like ice skating and burying myself in the snow. Come and follow along on my adventures right here and check out my social media, too!
      </p>
      <img class="welcome__img" src="/img/lake-paran.jpg" alt="bandit in a creek">
      
  </div>
  <%- include('../includes/footer.ejs') %>
</body>